<div class="wrapper">
    <div class="content">
      <h1>Password strength test</h1>
      <form class="password-strength" [formGroup]="passwordForm" [ngClass]="passwordStrength">
        <input formControlName="password" type="password" placeholder="Password">
        <div class="strength-block">
          <div class="strength-section" id="section1"></div>
          <div class="strength-section" id="section2"></div>
          <div class="strength-section" id="section3"></div>
        </div>
      </form>
    </div>
</div>
